<div class="filter">
  <label class="select-label" for="filter">Filter by:</label>
  <select name="album-filter" id="filter">
    <option value="">All</option>
    <option value="listened" {% set filter = "listened" %}>Listened</option>
    <option value="unlistened">Unlistened</option>
  </select>
</div>