---
layout: base
---

<h1 class="site-heading">As-of-Yet Untitled Katharine and Salomone Music Listening Project</h1>
{%- for row in spreadsheet %}
  {% set album = row %}
  {% include "partials/row.njk" %}
{% endfor %}
