@use "sass:color";
@use "mixins";

.filter {
  &__select {
    @include mixins.input-base();

    background: url(../static/arrow.svg) no-repeat right 10px center;
    background-size: auto 60%;
    margin-left: 0.5rem;
    max-width: 16ch;
  }
}
