@use "fonts";
@use "sass:color";

$textColor: #333;
$linkColor: #2a74b3;
$rowGray: #ddd;
$bp: 48rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $textColor;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

main {
  margin: auto;
  max-width: 50rem;
  padding: 0 0.5rem;
}

a {
  color: $linkColor;
}

.site-heading {
  font-family: "Lora", serif;
  font-size: 2rem;

  @media (min-width: $bp) {
    font-size: 2.5rem;
  }
}

// List of all items
.album__list {
  list-style: none;
  padding-inline-start: 0;
}

// Album container
.album {
  padding: 1rem;

  &:nth-child(odd) {
    background: color.change($rowGray, $alpha: 0.4);
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

// The top row
.album__info {
  align-items: flex-start;
  display: flex;

  & * {
    font-size: 1.1rem;

    @media (min-width: $bp) {
      font-size: 1.3rem;
    }
  }

  .album__heading {
    margin: 0 1rem 0 0;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .album__title {
    font-style: italic;
  }

  .album__listened-icon {
    font-style: normal;
    margin-left: auto;
  }
}

.album__rating {
  margin-top: 0.5rem;
}

.album__thoughts {
  margin-top: 1rem;

  &-summary {
    cursor: pointer;
    display: inline-block;
  }

  &-text {
    margin-bottom: 0;
    white-space: pre-wrap;
  }
}

.intro {
  margin-bottom: 2rem;

  p {
    font-size: 1rem;

    @media (min-width: $bp) {
      font-size: 1.1rem;
    }
  }

  .last-updated {
    font-size: 0.9rem;
    font-style: italic;
  }

  .current-listening {
    border: 1px dashed;
    border-radius: 3px;
    display: inline-block;
    font-family: "Lora", serif;
    font-weight: 700;
    margin: 0;
    padding: 0.5rem;

    @media (min-width: $bp) {
      padding: 0.5rem 1rem;
    }
  }
}

.tag {
  color: white;
  padding: 0 6px;
  border-radius: 6px;

  &.katharine {
    background-color: #8e69b3;
  }

  &.salomone {
    background-color: #69b3a5;
  }
}

[data-filter="listened"] {
  & > [data-listened="false"] {
    display: none;
  }
}

[data-filter="unlistened"] {
  & > [data-listened="true"] {
    display: none;
  }
}

.filter {
  &__select {
    appearance: none;
    background: url(../static/arrow.svg) no-repeat right 10px center;
    background-size: auto 60%;
    border: 1px solid color.change($textColor, $alpha: 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px color.change($textColor, $alpha: 0.05);
    color: currentColor;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
    margin-bottom: 1em;
    margin-left: 0.5rem;
    max-width: 16ch;
    width: 100%;
  }
}
