@use "fonts";
@use "sass:color";

$textColor: #333;
$linkColor: #2a74b3;
$rowGray: #ddd;

body {
  color: $textColor;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  margin: auto;
  max-width: 50rem;
  padding: 0 1rem;
}

a {
  color: $linkColor;
}

select {
  appearance: none;
  background: url(../static/arrow.svg) no-repeat right 10px center;
  background-size: auto 60%;
  border: 1px solid color.change($textColor, $alpha: 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 5px 1px color.change($textColor, $alpha: 0.05);
  color: currentColor;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
  margin-bottom: 1em;
  max-width: 16ch;
  width: 100%;
}

.site-heading {
  font-family: "Lora", serif;
  font-size: 2.5rem;

  @media (max-width: 48rem) {
    font-size: 2rem;
  }
}

.album {
  padding: 1rem;

  &:nth-child(odd) {
    background: color.change($rowGray, $alpha: 0.4);
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.album__list {
  list-style: none;
  padding-inline-start: 0;
}

.album__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .album__heading {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    margin: 0;
    white-space: pre-wrap;
  }

  .album__title {
    display: inline-block;
    font-style: italic;
  }
}

.album__rating {
  font-style: normal;
}

.album__thoughts {
  margin-top: 1rem;

  &-summary {
    cursor: pointer;
    display: inline-block;
  }

  &-text {
    margin-bottom: 0;
    white-space: pre-wrap;
  }
}

.intro {
  margin-bottom: 2rem;
}

.tag {
  color: white;
  padding: 0 6px;
  border-radius: 6px;

  &.katharine {
    background-color: #8e69b3;
  }

  &.salomone {
    background-color: #69b3a5;
  }
}

.last-updated {
  font-size: 0.9rem;
  font-style: italic;
}

[data-filter="listened"] {
  & > [data-listened="false"] {
    display: none;
  }
}

[data-filter="unlistened"] {
  & > [data-listened="true"] {
    display: none;
  }
}
