@use "fonts";

body {
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  margin: auto;
  max-width: 60rem;
  padding: 0 1rem;
}

.site-heading {
  font-family: "Lora";
  font-size: 3rem;
  margin-bottom: 4rem;
}

.album__heading {
  align-items: baseline;
  display: flex;
  font-size: 1.2rem;
  white-space: pre;
}

.album__rating {
  margin-left: auto;
}

.album:not(:last-child) {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1rem;
}

.album__title {
  font-style: italic;
}

.album__thoughts {
  &-summary {
    cursor: pointer;
    display: inline-block;
  }

  &-text {
    white-space: pre-wrap;
  }
}
