{% macro album(album) %}
  {% set listened = album.listened %}
  <li class="album" data-listened="{{listened}}" id="{{album.title | slug}}" >
    <div class="album__info">
      <h2 class="album__heading">
        {{album.rank}}. <span class="album__title">{{album.title}}</span> - {{album.artist}} ({{album.year}})
      </h2>
      <span class="album__listened-icon" aria-label="{% if listened %}Listened icon - album has been listened to{% else %}Listened icon - album has not been listened to{% endif %}">
        {% if listened %}✅{% else %}❌{% endif %}
      </span>
    </div>
  </div>
  {% if album.rating %}
    <p class="album__rating" aria-label="Album rating">{{album.rating}}
    </p>
  {% endif %}
  {% if album.thoughts %}
    <details class="album__thoughts">
      <summary class="album__thoughts-summary">What did we think?</summary>
      <p class="album__thoughts-text">{{album.thoughts | safe}}</p>
    </details>
  {% endif %}
</li>
{% endmacro %}