{% macro album(album, currentAlbum) %}
  {% set listened = album.listened %}
  {% set current = currentAlbum == album.title %}
  <li class="album {{'current' if current}} {{'listened' if listened}}"
    id="{{album.title | slug}}"
    data-listened="{{listened}}"
    data-rank="{{album.rank}}"
    data-title="{{album.title}}"
    data-artist="{{album.artist}}"
    data-year="{{album.year}}"
    data-current="{{current}}"
    >
    <div class="album__info">
      <h2 class="album__heading">
        <span class="album__rank">{{album.rank}}.</span> <span class="album__title">{{album.title}}</span> - {{album.artist}} ({{album.year}})
      </h2>
      {# <span class="album__listened-icon" aria-label="{% if listened %}Listened icon - album has been listened to{% else %}Listened icon - album has not been listened to{% endif %}">
        {% if listened %}✅{% else %}❌{% endif %}
      </span> #}
      {% if album.rating %}
        <span class="album__rating" aria-label="Album rating">{{album.rating}}
        </span>
      {% endif %}
    </div>
  </div>
  {% if album.thoughts %}
    <details class="album__thoughts">
      <summary class="album__thoughts-summary">What did we think?</summary>
      <p class="album__thoughts-text">{{album.thoughts | safe}}</p>
    </details>
  {% endif %}
</li>
{% endmacro %}